In [1]:
"""MongodDB assignment"""

'MongodDB assignment'

In [3]:
"""

1)
-->MongoDB:-MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need
-->Non relational database:-A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. 
>To prevent the database from becoming a system-wide bottleneck, especially in high volume environments,MongoDB perform in a way that relational databases cannot.
like:-
i)Storing large volumes of data without structure.
ii)Using cloud computing and storage.
iii)Rapid development.

"""

'\n\n1)\n-->MongoDB:-MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need\n-->Non relational database:-A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. \n>To prevent the database from becoming a system-wide bottleneck, especially in high volume environments,MongoDB perform in a way that relational databases cannot.\nlike:-\ni)Storing large volumes of data without structure.\nii)Using cloud computing and storage.\niii)Rapid development.\n\n'

In [4]:
"""
2)
Features of MongoDB:-
i)Ad-hoc queries for optimized, real-time analytics
ii)Indexing appropriately for better query executions
iii) Replication for better data availability and stability
iv)Sharding
v) Load balancing
"""

'\n2)\nFeatures of MongoDB:-\ni)Ad-hoc queries for optimized, real-time analytics\nii)Indexing appropriately for better query executions\niii) Replication for better data availability and stability\niv)Sharding\nv) Load balancing\n'

In [5]:
"""
3)code to connect mongodb to python and create a databse and a collection in database
import pymongo
client=pymongo.MongoClient("url")
db=client.test()
db=client["Database name"]
coll=db["name"]
data={} (in json format)
coll.insert_one/many(depending upon the number of data to be inserted)
"""

'\n3)code to connect mongodb to python and create a databse and a collection in database\nimport pymongo\nclient=pymongo.MongoClient("url")\ndb=client.test()\ndb=client["Database name"]\ncoll=db["name"]\ndata={} (in json format)\ncoll.insert_one/many(depending upon the number of data to be inserted)\n'

In [7]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 13.3 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 37.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [53]:

import pymongo
client=pymongo.MongoClient("mongodb+srv://jeeban6290:jeeban6290@cluster0.eagvppb.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [54]:
db=client["assignment"] #database name assignment has created

In [55]:
coll_assignment=db["my_records"]

In [32]:
#4)
data1={
    "name":"jeeban jyoti",
    "phone_number":6390409760,
    "college":"Odisha University of Technology and Research"}

In [33]:
coll_assignment.insert_one(data1)

In [47]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [35]:
coll_assignment.insert_many(data2)

In [36]:
coll_assignment.find_one()

{'_id': ObjectId('6400a7ccc6a49aeae0f957c4'),
 'name': 'jeeban jyoti',
 'phone_number': 6390409760,
 'college': 'Odisha University of Technology and Research'}

In [37]:
coll_assignment.find_one({"name":"Sandy"})

{'_id': ObjectId('6400a813c6a49aeae0f957c8'),
 'name': 'Sandy',
 'address': 'Ocean blvd 2'}

In [38]:
for i in coll_assignment.find():
    print(i)

{'_id': ObjectId('6400a7ccc6a49aeae0f957c4'), 'name': 'jeeban jyoti', 'phone_number': 6390409760, 'college': 'Odisha University of Technology and Research'}
{'_id': ObjectId('6400a813c6a49aeae0f957c5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6400a813c6a49aeae0f957c6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6400a813c6a49aeae0f957c7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6400a813c6a49aeae0f957c8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6400a813c6a49aeae0f957c9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6400a813c6a49aeae0f957ca'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6400a813c6a49aeae0f957cb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6400a813c6a49aeae0f957cc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6400a813c6a49aeae0f957cd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6400a813c6a49aeae0f957ce'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6400a813c6a49aeae0f957cf'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6400a813c6a49aeae0f957d0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6400aaa5c6a49aeae0f957d2'), 'name': 'jeeban jyoti', 'phone_number': 6390409760, 'college': 'Odisha University of Technology and Research'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957da'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957db'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957dc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957dd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957de'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [39]:
"""
5)In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table.
"""

'\n5)In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table.\n'

In [40]:
for i in coll_assignment.find():
    print(i)

{'_id': ObjectId('6400a7ccc6a49aeae0f957c4'), 'name': 'jeeban jyoti', 'phone_number': 6390409760, 'college': 'Odisha University of Technology and Research'}
{'_id': ObjectId('6400a813c6a49aeae0f957c5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6400a813c6a49aeae0f957c6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6400a813c6a49aeae0f957c7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6400a813c6a49aeae0f957c8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6400a813c6a49aeae0f957c9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6400a813c6a49aeae0f957ca'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6400a813c6a49aeae0f957cb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6400a813c6a49aeae0f957cc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6400a813c6a49aeae0f957cd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6400a813c6a49aeae0f957ce'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6400a813c6a49aeae0f957cf'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6400a813c6a49aeae0f957d0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6400aaa5c6a49aeae0f957d2'), 'name': 'jeeban jyoti', 'phone_number': 6390409760, 'college': 'Odisha University of Technology and Research'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957d9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957da'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957db'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957dc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957dd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6400aaa6c6a49aeae0f957de'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [48]:
"""
6)sort:-The sort() method specifies the order in which the query returns the matching documents from the given collection. 
"""
data3=[
    {"name":"jeeban","age":20},
    {"name":"upasna","age":19},
    {"name":"jyoti","age":31}
]

In [49]:
coll_assignment.insert_many(data3)

In [71]:
assignment.coll_assignment.find().sort({"age":1});

NameError: name 'assignment' is not defined

In [ ]:
"""
7)
-->delete_one():-
>To delete one document, we use the delete_one() method.
>The first parameter of the delete_one() method is a query object defining which document to delete.
-->delete_many():-
>To delete more than one document, use the delete_many() method.
>The first parameter of the delete_many() method is a query object defining which documents to delete.
-->drop():
>to delete a table, or collection as it is called in MongoDB, by using the drop() method. The drop() method takes a callback function containing the error object and the result parameter which returns true if the collection was dropped successfully, otherwise it returns false.